.footer {
  margin-top: 109px;
  bottom: 0px;
  width: 100%;
  background-color:#040404;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.25);
}

.footer-text {
  color:#737373;
  text-decoration: none;
  transition: .5s;
}

.footer-text:hover {
  color: #fc3565;
}

.footer h6 {
  color: #bbbbc4;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.footer a {
  color:#737373;
  text-decoration: none;
  transition: .5s;
}

.footer a:hover {
  color: #fc3565;
}

.footer-links {
  padding-left:0;
  list-style:none
}

.copyright-text {
  color:#737373;
  margin:0
}