.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #FAFAFA;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    * {
        box-sizing: border-box;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}

.header h2, h3 {
	color: #34495e;
}

.logo-header {
	margin: 0;
	font-size: 1.45em;
	margin-left: 10px;
}

.header a {
    text-decoration: none;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #34495e;
	font-size: .99em;
}

.header a:hover {
    color: #718daa;
}

.nav a:hover {
    color: #34495e;
}

.start-btn {
	padding: 9px 15px;
	text-transform: uppercase;
	color: #FAFAFA;
	font-size: .99em;
}

.start-btn:hover {
    color: #34495e;
}

.btn.start-btn {
    border-radius: 25px;
    background-color: #fc3565 !important;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	    }
	}
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}