{% extends "main_app/index.html" %}

{% block content %}
{% load static %}
<main>
  <div class="container">
    <div class="col-md-12">
      <h2 class="main-h2 center">CIFAR-10 Model</h2>
      <div class="center">
        <ul class="main-text" style="list-style:none">
          <li><h2>{{ model_10_info.0 }}</h2></li>
          <li><h2>{{ model_10_info.1 }}</h2></li>
          <li><h2>{{ model_10_info.2 }}</h2></li>
        </ul>
      </div>
      <div class="image-box center">
        <img src="{% static 'main_app/img/cifar_10_plt.png' %}"/>
      </div>
      <br>
      <div class="image-box center">
        <img src="{% static 'main_app/img/cifar_10_cm.png' %}"/>
      </div>
      <br>
      <div class="center">
        <ul class="main-text" style="list-style:none">
          <li><h2>{{ model_10_info.3 }}</h2></li>
          <li><h2>{{ model_10_info.4 }}</h2></li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}