<div id="upload-dialog" class="modal">
  <div class="modal-content">
    <div class="modal-header" style="height: 50px;">
      <span class="close" id="close-btn">&times;</span>
    </div>
    <div class="modal-body">
      <div id="alert-box"></div>
      <div id="image-box" class="center"></div>
      <br>
      <form id="upload-form" class="center" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
      </form>
      <br>
      <div id="upload-progress-box" class="not-visible"></div>
      <br>
      <div class="center">
        <button type="button" id="classification-btn" class="btn btn-success not-visible">
          <a class="link" href="{% url 'main_app:results' %}">Start Classification</a>
        </button>
      </div>
      <br>
    </div>
    <div class="modal-footer center" style="height: 50px;">
      <div id="cancel-box" class="not-visible">
        <button id="cancel-btn" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </div>
</div>